/* TEMAS DE COLOR */
body.theme-purple {
    --primary-color: #8b5cf6;
    --primary-hover: #7c3aed;
}

body.theme-green {
    --primary-color: #10b981;
    --primary-hover: #059669;
}

body.theme-blue {
    --primary-color: #3b82f6;
    --primary-hover: #2563eb;
}

body.theme-orange {
    --primary-color: #f97316;
    --primary-hover: #ea580c;
}

/* Estilos de botones que usan la variable del tema */
.btn-purple {
    background-color: var(--primary-color) !important;
    color: #ffffff;
}

.btn-purple:hover {
    background-color: var(--primary-hover) !important;
}
